__pycache__/
*.pyc
.clinerules/
.continue/
.vscode/
.conda-env/
.pytest_cache/
dataset/
analysis-results/
analysis/analysis-results/
analysis/analysis_results/
rule.md
environment.yml
new-mcp-server-1.yaml
new-rule.md
settings.json
